appdirs==1.4.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
Flask==1.1.4
Flask-SQLAlchemy==2.5.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
psutil==5.9.0
pyee==8.2.2
pyppeteer==0.2.6
requests==2.27.1
SQLAlchemy==1.4.35
tqdm==4.64.0
urllib3==1.25.8
websockets==9.1
Werkzeug==1.0.1
zipp==3.8.0
